section {
    background-color:white;
    box-sizing: border-box;
    width: fit-content;
}





.header {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;

}


.about {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    font-size: 50px;
    align-items: left 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}




.image {
    position: center;
}





@media (max-width: 1000px) {
    .hero {
        display:none;
    }
}


.text {
    position: absolute;
    top: 200px;
    font-size: 80px;
    left: -1400px;
    right: 80px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: azure
}

form {
    background-color: #e7e9ec;
    border: 1px solid #b3b4b5;
    font-size: 30px;
    text-align: center;



}

.list {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-content: bottom;
    border: 3px solid;
    font-size: large;
    border: black;


}

.list-info {
    font-size: 25px;
    align-content: bottom 10px;
   
}

.social {
    font-size: 25px;
}

.shows {
    font-size: 25px;
}

.big-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: soild #cfd2d6;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    background-color: ;


}

.btn {
    display: flex;
    justify-content: center;
    background-color:rgb(241, 200, 124);
    height: 40px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    justify-content: bottom;
    
}






    
/* 
* End Features Styling
*/

footer{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin: 5px;
    background-color: rgb(20, 19, 19);
    color: #e7e9ec;
    
    
}
.footer-left {
    display: flex;
}
footer li{
    list-style-type: none;
}